<div class="col-md-6">
        <table class="table table-striped">
        <thead>
        <tr>
          <th>name</th>
          <th>occupation</th>
          <th>salary</th>
          <th>AA account Number</th>
          <th>fipsforsaving</th>
          </tr>
        </thead>
        <tbody>
            <tr >
                <td>{{user.name}}</td>
                <td>{{user.occupation}}</td>
                <td>{{user.salary}}</td>
                <td>{{user.aaaccount}}</td>
                <td>{{user.fipsforsaving}}</td>
                </tr>
        </tbody>
          </table>
      
        </div>