<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  </style>
  </head>

<div align="center" *ngIf="!loaded">
    <div>
        Gross Salary : <input type="number" name="Gsal" [(ngModel)]="Gsal">
        HRA : <input type="number" name="hra" [(ngModel)]="hra">
        Additional Income : <input type="number" name="AddIncome" [(ngModel)]="AddIncome">
    </div>
    <br>
<form [formGroup]="form" (ngSubmit)="submit()">
  <tr formArrayName="orders" *ngFor="let order of ordersFormArray.controls; let i = index">
    <td><input type="checkbox" [formControlName]="i"></td>
    <td> {{ordersData[i].name}}<br></td>
  </tr>
  <br><br>
   
    <div *ngIf="!form.valid">At least one order must be selected</div>
    <button>submit</button>
  </form>
</div>
  <div *ngIf="loaded" class="loader"></div>